body {
    background-color: #013220;
}

html{
    scroll-behavior: smooth;
}
.nav-link{
    color: black;
    margin: 30px;
    font-size: 22px;
}

.mobile-title{
    color: black;
    font-family: "lorimer-no-2", sans-serif;
}
.nav-link:hover{
    color: white;
    opacity: 80%;
    text-decoration: none;
}

.navbar-color{
    background-color: #90EE90;
}

.navbar-brand{
 font-family: "lorimer-no-2", sans-serif;
 font-size: 30px;
}

.navbar-toggler {
  margin-left: auto;
}

.tablet-sidebar {
  display: none;
}

h1{
    color: white;
    font-size: 70px;
    padding: 0 120px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.h1-about{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}
#about{
    padding-top: 40px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.about-img{
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}

.about-img img{
  width: 100%;
  max-height: 500px;
  border-radius: 16px;
  object-fit: cover;
  object-position: top;      
  display: block          
}



.about-img:hover{
  transition: transform 0.2s;
  transform: translateY(-5px);
  
}

.about-text {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.servies-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.phone-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.phone-container img{
  width: 44px;
  height: auto;
}

.phone-p{
   font-size: 18px;
   color: #F5F5F5;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: lighter;
   text-align: center;
   margin-top: 20px;
}

.phone-button{
  display: flex;
  align-items: center;
  background-color: #7bc47f;
  color: #043d2f;
  padding: 15px 25px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  gap: 12px; 
}

.phone-button:hover{
  opacity: 80%;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.testimonial-card {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
  background: #2E6B2E;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding: 20px;
  width: 50%;
  margin: 0 auto 20px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}



.testimonial-card.showing:hover{
   transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}

.testimonial-card.showing {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  z-index: 1;
 transition: opacity 1.2s ease, transform 0.1s ease-out, box-shadow 0.2s;
}




.h1-testimonials{
  color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}

.testimonial-p{
   font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.stars{
  color: gold;
  font-size: 1.4rem;
  text-align: center;
}

.testimonial-carousel {
  position: relative; /* make arrows position relative to this container */
  max-width: 70%; /* or your testimonial width */
  margin: 0 auto; /* center carousel */
}
#testimonials .prev,
#testimonials .next {
  all: unset;              /* Reset everything */
  color: white;            /* White arrow color */
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0;              /* No padding */
  user-select: none;
}

#testimonials .prev {
  left: 200px !important;  /* Push arrow closer to carousel */
  
}

#testimonials .next {
  right: 200px !important;
}


#testimonials .prev:hover,
#testimonials .next:hover {
  color: #90EE90;
}


.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: #2E6B2E;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding: 20px;
  transition: transform 0.1s ease-out, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}

.card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card:first-child img{
  object-position: center 32%;
}

.card:nth-child(3) img {
  object-position: center 55%;
}

.card-contact{
  background: #2E6B2E;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding: 20px;
}
.h1-services{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}




.h3-services{
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: "lorimer-no-2", sans-serif;
    font-style: normal;
    padding-top: 10px;
}

.h1-gallery{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
     margin-top: 20px;
}

.h1-contact{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}


.about-p{
    font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

.about-list{
    font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: left;
    padding-left: 1.2em;
    margin-top: 0.5em;     
    margin-bottom: 1em;    
    list-style-type: disc; 
}

.about-list li{
  margin-bottom: 0.4em;
}
.services-p{
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}
.gallery-p{
    font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

.gallery-p-caption{
    font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.contact-p{
    font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
}


.h5-footer{
    color: black;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: bold;
    font-style: normal;
}
.footer-color{
    background-color: #90EE90;   
    margin-top: 0px; /* Remove any margin that pushes the footer down */
    padding-top: 10px; /* Optionally reduce padding on top */
    padding-bottom: 10px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    color: black;
    text-decoration: none;
}

.footer-links a:hover{
    color: white;
}

.portfolio-link{
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 20px;
    font-size: 14px;
}

.portfolio-link a{
  color: black;
  text-decoration: none;
}

.portfolio-link a:hover{
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}



@media (max-width: 700px) {
  .h1-about, .h1-services, .h1-gallery, .h1-contact {
    text-align: center;
    font-size: 45px;
  }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 65px;
}



.mySlides img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}



.mySlides {
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  transition: opacity 1s ease-in-out;
  pointer-events: none; /* disable interaction */
}



.mySlides.showing {
  opacity: 1;
  display: block;
  position: relative;
  pointer-events: auto;
}

.mySlides img[src="images/paul6.jpg"] {
 margin-top: -500px;
}

.dots-container {
  text-align: center;
  padding: 15px 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active,
.dot:hover {
  background-color: #717171;
}

.testimonial-dots {
  text-align: center;
  padding: 15px 0;
}

.testimonial-dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.testimonial-dot.active {
  background-color: #717171;
}



.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@media (max-width: 700px) {
  .mySlides img[src="images/paul6.jpg"] {
    margin-top: 0; /* or adjust to fit the new container height */
  }

  .mySlides img[src="images/tree5.jpg"] {
    object-position: center top; /* or adjust to fit the new container height */
  }

  
  

   .text-image3 {
    top: auto !important;
  }



}

/* Next & previous buttons */
.testimonial-carousel .prev,
.testimonial-carousel .next {
  background-color: transparent;
  border: none;
  color: #2e6b2e;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 282px;
  width: 100%;
  text-align: center;
}

.text-image2{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 365px;
  width: 100%;
  text-align: center;
}

.text-image3{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  top: 430px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.before-after-mobile{
  display: none;
}

.before-after-slide {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.before-after-slide.showing {
  opacity: 1;
  position: relative;
  pointer-events: auto;
}
.before-after-desktop {
  display: flex;
  flex-wrap: wrap;       /* Allow wrapping onto multiple rows */
  gap: 20px;             /* Space between images */
  justify-content: center;
  margin-top: 30px;
}

.image-container-gallery {
  flex: 1 1 calc(33.33% - 20px); /* 3 images per row with gap */
  max-width: calc(33.33% - 20px);
  text-align: center;
}

.gallery-image {
  width: 100%;          /* Make images fill their container */
  object-fit: cover;    /* Crop or scale to fill */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease-out;
}

.gallery-image[src*="paul5.jpg"] {
  height: 310px; /* or any height you want */
  object-fit: cover; /* maintain crop */
}

.gallery-image[src*="wood_delivery.jpg"] {
  height: 310px; /* or any height you want */
  object-fit: cover; /* maintain crop */
}

.gallery-image[src*="gardening4.jpg"] {
  height: 310px; /* or any height you want */
  object-fit: cover; /* maintain crop */
}

.gallery-image:hover{
  transition: transform 0.2s ease-in;
  transform: translateY(-5px);
}






@media (max-width: 767px) {
  
   .slideshow-container {
    display: none;
  }
  
  .dots-container{
    display: none;
  }
  .slideshow-container .mySlides img {
    height: 300px; /* match container height */
    width: 100%;   /* full width */
    object-fit: cover; /* scale and crop to fill */
  }

  /* Replace .mySlides with .before-after-slide */
  .before-after-mobile .before-after-slide img {
    height: 300px;  /* match container height */
    object-fit: cover;
  }

  .text, .text-image2, .text-image3 {
    bottom: 20px !important; /* Move caption closer to bottom */
    font-size: 14px; /* Optional: smaller font on phones */
    padding: 4px 8px; /* Optional: smaller padding */
  }

  .before-after-desktop {
    display: none;
  }

  .before-after-mobile {
    display: block;
    max-width: 480px;
    margin: auto;
    height: 300px;
    position: relative;
  }

  .before-after-mobile .text {
    bottom: 20px !important;
    font-size: 14px;
    padding: 4px 8px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
  }

  .before-after-slide img {
    height: 300px;          /* Keeps the image height */
    width: 100%;            /* Full width */
    object-fit: cover;      /* Keeps the image from stretching */
    object-position: center 2%; /* <-- This shows the bottom part of the image */
  }

  

  .about-container{
    flex-direction: column;
    text-align: center;
  }

  .about-text{
    margin-left: 0;
  }

  .h2-heading{
    text-align: center;
    font-size: 30px;
  }



   .h1-services, .h1-gallery{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 16px;
  }

  .h1-testimonials{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .h1-about {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  .h1-contact{
    text-align: center;
    font-size: 40px;
    margin: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
    padding-bottom: 16px;
  }

  .h5-footer{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .image-container-gallery {
    max-width: 45vw;
    height: 500px;
    overflow: hidden;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #testimonials .prev {
  left: -15px !important;  /* move left arrow closer to left edge */
}

#testimonials .next {
  right: -15px !important; /* move right arrow closer to right edge */
}
}

@media (max-width: 700px) {
  .testimonial-carousel {
    max-width: 90%;  /* make the container wider on small screens */
    margin: 0 auto;  /* center container */
  }
  
  .testimonial-card {
    width: 90%;      /* wider cards on small screens */
    margin-left: auto;  /* center card horizontally */
    margin-right: auto;
    /* keep the rest as is for transitions */
  }

 #testimonials .prev {
  left: -15px !important;  /* move left arrow closer to left edge */
}

#testimonials .next {
  right: -15px !important; /* move right arrow closer to right edge */
}

  
}





/* @media only screen and (min-width: 768px) and (max-width: 1024px){
.tablet-sidebar{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #90EE90;
  padding: 16px;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}

.tablet-sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.tablet-sidebar a{
  text-decoration: none;
  color: black;
}

nav.navbar {
  display: none;
}

.main-content {
    margin-left: 240px;
    padding: 1rem;
  }
}
  */





  

